#wrapper{
    background-color: #FFF4FC;
    padding: 0 78px;
}
.main{
    border-bottom: 2px solid black;
    padding-bottom: 50px;
}

/* Header */
.header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_notify{
    font-size: 2rem;
    

}
.header_notify-247{
    background: linear-gradient(to left, #EDCBAF 0%, #CE468F 100%);
	background-clip: text;
	color: transparent;
    -webkit-background-clip: text;
    font-weight: 700;
    line-height: 22px;
    position: relative;
    display: inline-block;
}
.header_notify-247::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to left, #EDCBAF 0%, #CE468F 100%);
    z-index: 1;
    }

.header_star{
    width: 19px;
    height: 19px;
    margin: 0 21px;
}

/* Navbar */
.main_navbar{
    display: flex;
    padding-top: 25px;
    align-items: center;
    justify-content: space-between;
}
.navbar_logo{
    height: 90px;

}
.navbar_center-text{
    display: flex;
}
.navbar_center-list{
    list-style: none;
    margin-right: 58px;
    font-size: 2rem;
    font-weight: 600;
}
.navbar_center-link:hover{
    background: linear-gradient(to left, #F9D6A6 0%, #F387C1 100%);
	background-clip: text;
	color: transparent;
    -webkit-background-clip: text;
}
.navbar_user-bag{
    height: 30px;
  
    
}
.navbar_user-profile{
    height: 30px;
    margin-left: 55px;
}

/* main content */

#main_content{
    display: flex;
}
.content_text-wrapper{
    margin-top: 15.6rem;
}
.heading_text{
    font-size: 10rem;
    font-weight: 300;
    display: inline-block;
}
.content_heading{
    display: inline-block;
}
.heading_text-cupcake{
    background: linear-gradient(to left, #F9D6A6 0%, #F387C1 100%);
	background-clip: text;
	color: transparent;
    -webkit-background-clip: text;
    line-height: 10rem;
    display: inline-block;
    margin-left: 14px;
}
    
.content_sub{
    font-size: 2.5rem;  
}

.content_img{
   width: 40%;
   
    float: right;
    margin: auto 0;
}
.content_order{
    display: flex;
    margin-top: 6.7rem;
    align-items: center;
}
.order_button{
    padding: 16px 55px;
}
.order_button:hover{
    background-color: #a3a3a3;
    color: black;
}
.order_phone{
    display: flex;
    margin-left: 4.3rem;
    align-items: center;
}
.phone-icon{
    height: 2.2rem;
}
.phone-number{
    font-size: 2.5rem;
    color: #EB6FB2;
    text-decoration: underline;
    margin-left: 1.6rem;
}

/* Event */

#event{
    border-bottom: 2px solid black;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 50px 0;
    justify-content: space-around;
}

.grid__row-event{
    justify-content: space-between;
}
.event_heading{
    font-size: 60px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 84px;
    
}

.event__item-img{
    width: 100%;
}
.event__item{
    position: relative;
    background-color: white;

    padding: 5px;
    animation: Down 0.5s;
}

.event__item:hover{
    top: -20px;
    animation: Up 0.5s;
}
.event__item-name{
    font-size: 17px;
    font-weight: 900;
    text-transform: uppercase;
}

.event__arrow{
    margin-left: 69px;

}
.event_link{
    display: inline;
    
}
.event__wrapper_link{
    display: flex;
    align-items: center;
}
/* Menu */

.menu{
   
    margin-top: 105px;
}
.menu_wrapper{
    text-align: center;
}
.menu__align{
    display: flex;
    align-items: center;
    margin: 0 27px;
}
.menu__product{
    margin-top: 6rem;
}
.product_choose{
    background-color: white;
    border-radius: 15px;
    
}
.product__img{
    width: 200px;
    object-position: 22px;
    margin-top: 22px;
   height: 207px;

}
.product__heading{
    font-size: 2.5rem;
    padding: 0 30px;
    margin: 0;
    height: 110px;
}
.product__info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.info__price{
    font-size: 2.5rem;
    color: #FF96CF;
    font-weight: 800;
    margin: 0;
}
.info__quality input{
    position: relative;
    display: inline-block;
}
.info__quality{
    display: flex;
}
.buttons{
    width: 2.2rem;
    height: 3rem;
    border-radius: 0;
    background-color: transparent;
    border: 1px solid black;
    font-size: 1.3rem;
    outline: none;
    text-align: center;
    
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
.quality__number{
    width: 3.6rem;
    text-align: center;
}
.quality_minus{
    left: 4px;
    border-right: none;
    position: absolute;
    cursor: pointer;
}
.quality_plus{
    right: 4px;
    border-left: none;
    position: absolute;
    cursor: pointer;
}

.menu__add-to-cart{
    margin-top: 3rem;
    font-size: 2.5rem;
    padding: 14px 0;
    width: 80%;
    margin-bottom: 48px;
}



/* Menu Combo */

.menu__combo{
    background: linear-gradient(to right, #FF96CF 0%, #FFEBCF 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 117px;
    z-index: 0;


}

.menu__wrapper{
    position: relative;
}
.menu__wrapper::after {
    content: "";
    position: absolute;
    top: 52px;
    left: 30px;
    height: 100%;
    width:  95%;
    background: linear-gradient(to left, #FFEBCF 0%, #FF96CF 100%);
    z-index: 0;
    filter: blur(20px);
    opacity: 0.35;
    border-radius: 36px;
    
}
.combo__info{
  
    text-align: left;
    padding: 3.7rem;
}
.combo__heading{
    font-size: 5rem;
    margin: 0;
    width: 50%;
    line-height: 5rem;
    
}

.combo__sub{
    font-size: 2rem;
    width: 50%;
    
}

.combo__price{
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
}
.combo__add-to-cart{
    font-size: 2.5rem;
    margin-top: 31px;
    background-color: white !important; 
    color: #EB6FB2 !important; 
    padding: 14px 38px;
}
.combo__add-to-cart:hover{
    color: white !important;
}

.wrapper__sale{
    width: 47%;
    display: inline-block;
    float: right;
}

/* menu_sale{ */
  

.sale__text{
    font-size: 3rem;
    position: absolute;
    color: #FFFF;
    font-family: 'Sriracha', sans-serif;
    transform: rotate(-30.59deg);
    top: 35px;
    right: 466px;
    display: inline-block;
}
.sale__arrow{
    position: absolute;
    top: 110px;
    right: 425px;
}
.sale__img{
    position: absolute;
    bottom: 63px;
    right: 103px;
    
}
.sale__star{
    position: absolute;
    right: 28px;
    top: 31px;
    
}

/* Clients */

.clients{
    margin-top: 122px;
    text-align: center;
}

.clients__heading{
    margin-bottom: 100px;
}

.clients__logo-item{
    margin-bottom: 79px;
    
}
.logo__wrapper{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/* Email */

.email{
    text-align: center;
    border-top: 2px solid black;
    margin-top: 23px;
}
.email__heading{
    margin: 90px 0;
}
.email__subcribe{
    padding-bottom: 110px;
}
.email__input{
    font-size: 2.5rem;
    width: 551px;
    height: 64px;
    background-color: transparent;
    outline: none;
    border: 2px solid black;
    margin-right: 1.6rem;
    text-indent: 20px;
}
.email__input::placeholder{
    color: #000000;
    opacity: 0.7;
}   

.email__button{
    font-size: 2.5rem;
    font-weight: 600;
    padding: 16px 35px;
}

/* Footer */

#footer{
    background-color: black;
    color: white;
}
.footer__wrapper{
    padding: 54px 64px 0px 75px;
}

.footer__slogan{
    font-size: 2rem;
}


.footer__link-items{
    list-style: none;
    margin-bottom: 14px;
}

.footer__link-text{
    color: white;
    font-size: 2rem;
}
.footer__link-text:hover{
    text-decoration: underline;
}
.footer__contact-items{
    list-style: none;
    
}


.contact__logo{
    width: 42px;
    margin-bottom: 13px;
}

.footer__info-heading{
    font-size: 2rem;
}
.footer__info-location{
    font-size: 1.8rem;
    font-weight: 700;
}

.footer__info-phone{
    font-weight: 300;
    color: white;
    text-decoration: underline;
}
.event-slider{
    width: 80%;
    flex-wrap: initial !important;
    overflow: hidden;
}
.event__product{
    margin: 0 2rem;
    display: flex;
    

 
 }
 .grid__column-slider{
    padding-left: 12px;
    padding-right: 12px;
    width: 25%;
    flex-shrink: 0;
    padding: 20px;
    transition: ease 0.5s;
    
   
 }
 .event__arrow-reverse{
    display: none;
 }